---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Electron Astro Tailwindcss Template</title>
	</head>
	<body class='bg-blue-400 text-center'>
		<h1>Electron app built with Astro and Tailwindcss!</h1>
	</body>
</html>
